################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cinemava/FileContentIndex/aa9b023b-af96-4337-a9ff-edb1d95163fb.vsidx
/.vs/Cinemava/FileContentIndex/ae1e5ff6-5cbd-4e5b-9e49-fc3df8579c82.vsidx
/.vs/Cinemava/v17/.suo
