################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cinemava/FileContentIndex/c47216f8-1c2e-4b03-a180-195934089183.vsidx
/.vs/Cinemava/FileContentIndex/c92f0086-9a59-4bc7-8eff-449cdf619f1a.vsidx
/.vs/Cinemava/v17/.suo
